# Despliegue

- Cargamos el modelo
- Cargamos los datos futuros
- Preparar los datos futuros
- Aplicamos el modelo para la predicción

In [22]:
#Cargamos librerías principales
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
#Cargamos el modelo
import pickle
filename = './modelo-reg.pkl'
model_Tree, modelSVM, model_Knn, model_NN, min_max_scaler, variables = pickle.load(open(filename, 'rb'))

In [24]:
#Cargamos los datos futuros
data = pd.read_csv("./videojuegos-datosFuturos.csv")
data.head()

         videojuego  Edad    Sexo      Plataforma  Consumidor_habitual
0     'Mass Effect'    33  Hombre           Otros                False
1  'KOA: Reckoning'    30   Mujer              PC                 True
2      'Dead Space'    22  Hombre          'Xbox'                False
3          'Crysis'    17  Hombre  'Play Station'                False
4        'Sim City'    27   Mujer           Otros                 True

In [25]:
#Interfaz gráfica
#Se crea interfaz gráfica con streamlit para captura de los datos

import streamlit as st
import streamlit as st
# from streamlit_jupyter import StreamlitPatcher

# StreamlitPatcher().jupyter()

st.title('Predicción de inversión en una tienda de videojuegos')

Edad = st.slider('Edad', min_value=14, max_value=52, value=20, step=1)
videojuego = st.selectbox('Videojuego', ["'Mass Effect'","'Battlefield'", "'Fifa'","'KOA: Reckoning'","'Crysis'","'Sim City'","'Dead Space'","'F1'"])
Plataforma = st.selectbox('Plataforma', ["'Play Station'", "'Xbox'","PC","Otros"])
Sexo = st.selectbox('Sexo', ['Hombre', 'Mujer'])
Consumidor_habitual = st.selectbox('Consumidor_habitual', ['True', 'False'])


#Dataframe
datos = [[Edad, videojuego,Plataforma,Sexo,Consumidor_habitual]]
data = pd.DataFrame(datos, columns=['Edad', 'videojuego','Plataforma','Sexo','Consumidor_habitual']) #Dataframe con los mismos nombres de variables

# Predicción de inversión en una tienda de videojuegos

2025-09-20 13:40:22.813 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-20 13:40:22.814 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-20 13:40:22.814 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-20 13:40:22.815 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-20 13:40:22.815 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-20 13:40:22.816 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

Dropdown(description='Videojuego', options=("'Mass Effect'", "'Battlefield'", "'Fifa'", "'KOA: Reckoning'", "'…

Dropdown(description='Plataforma', options=("'Play Station'", "'Xbox'", 'PC', 'Otros'), value="'Play Station'"…

Dropdown(description='Sexo', options=('Hombre', 'Mujer'), value='Hombre')

Dropdown(description='Consumidor_habitual', options=('True', 'False'), value='True')

In [26]:
#Se realiza la preparación
data_preparada=data.copy()

#En despliegue drop_first= False
data_preparada = pd.get_dummies(data_preparada, columns=['videojuego', 'Plataforma','Sexo', 'Consumidor_habitual'], drop_first=False, dtype=int)
data_preparada.head()

,Edad,videojuego_'Mass Effect',Plataforma_'Play Station',Sexo_Hombre,Consumidor_habitual_True
0,20,1,1,1,1

In [27]:
#Se adicionan las columnas faltantes
data_preparada=data_preparada.reindex(columns=variables,fill_value=0)
data_preparada.head()

,Edad,videojuego_'Battlefield',videojuego_'Crysis',videojuego_'Dead Space',videojuego_'F1',videojuego_'Fifa',videojuego_'KOA: Reckoning',videojuego_'Mass Effect',videojuego_'Sim City',Plataforma_'Play Station',Plataforma_'Xbox',Plataforma_Otros,Plataforma_PC,Sexo_Mujer,Consumidor_habitual_True
0,20,0,0,0,0,0,0,1,0,1,0,0,0,0,1

In [28]:
#Se normaliza la edad para predecir con Knn, Red
#En los despliegues no se llama fit
#data_preparada[['Edad']]= min_max_scaler.transform(data_preparada[['Edad']])
#data_preparada.head()

# **Predicciones**

In [29]:
#Hacemos la predicción con el Tree
Y_pred = model_Tree.predict(data_preparada)
print(Y_pred)

[420.]

In [30]:
data['Prediccion']=Y_pred
data.head()

   Edad     videojuego      Plataforma    Sexo Consumidor_habitual  Prediccion
0    20  'Mass Effect'  'Play Station'  Hombre                True       420.0

In [31]:
#Predicciones finales
data

   Edad     videojuego      Plataforma    Sexo Consumidor_habitual  Prediccion
0    20  'Mass Effect'  'Play Station'  Hombre                True       420.0